<label class="inici">Aulas</label><mat-divider> </mat-divider>

<div class="example-button-row">
  <button class="custom-button" (click)="dialogs()">Agregar</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <!-- Loop over the headers to generate columns dynamically -->
  <ng-container *ngFor="let item of headers">
    <ng-container matColumnDef="{{item}}">
      <th mat-header-cell *matHeaderCellDef style="background-color: #e1e1e1; color: black; text-align: center;">
        {{item.charAt(0).toUpperCase() + item.slice(1)}}
      </th>
      <td mat-cell *matCellDef="let element">

        <ng-container *ngIf="item === 'opciones'">
          <div class="center-flex">
            <ng-container *ngFor="let option of element[item]">
              <button mat-button class="mat-button">{{option}}</button>
            </ng-container>
          </div>
        </ng-container>

        <!-- Default rendering for other columns -->
        <ng-container *ngIf="item !== 'semestre' && item !== 'opciones'">
          {{element[item]}}
        </ng-container>

      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headers"></tr>
  <tr mat-row *matRowDef="let row; columns: headers;"></tr>
</table>
<div id="modal-overlay" class="modal-overlay" *ngIf="modal">
  <div class="modal-content">
    <h2 class="modal-title">Agregar Aula</h2>
    <div class="blue-line-separator"></div>

    <label class="nom" for="career-name">Nombre del Aula</label>
    <input id="career-name" [(ngModel)]="aulasName" type="text" placeholder="Ingrese el nombre del aula" />

    <div class="modal-actions">
      <button class="submit-button" (click)="submitCareer()">Agregar</button>
    </div>

    <div class="modal-actions">
      <button class="cancel-button" (click)="dialogs()">Cancelar</button>
    </div>
  </div>
</div>